
<div class="container text-center text-red-400 mb-5">
  <h2>
  Below is the progress achieved in the <%= @grade_level.school_year.title %> academic session by <%= @user.full_name %>
</h2>
</div>
<% @school_terms.each do |term| %>
  <div class="mb-5">
    <h2 class="text-center"> <%= term.title %> </h2>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark-bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-2 py-1">Subject</th>
          <th scope="col" class="px-2 py-1">First Test (over 20)</th>
          <th scope="col" class="px-2 py-1">Second Test (over 20)</th>
          <th scope="col" class="px-2 py-1">Examination (over 60)</th>
          <th scope="col" class="px-2 py-1">Total (over 100)</th>
          <th scope="col" class="px-2 py-1">Letter Grade</th>
        </tr>
      </thead>
      <tbody>
        <% @subjects.each do |subject|%>
          <% exam_term_subject_params = {examinations: @examinations, term_id: term.id, subject_id: subject.id} %>
          <tr>
            <th scope="row" class="px-6 py-4"><%= subject.title %></th>
            <th scope="row" class="px-6 py-4"><%= find_score_by_type(exam_term_subject_params, :first_test) %></th>
            <th scope="row" class="px-6 py-4"><%= find_score_by_type(exam_term_subject_params, :second_test) %></th>
            <th scope="row" class="px-6 py-4"><%= find_score_by_type(exam_term_subject_params, :term_exam) %></th>
            <th scope="row" class="px-6 py-4"><%= subject_percentage_score(exam_term_subject_params)[:total_score]%></th>
            <th scope="row" class="px-6 py-4"><%= subject_percentage_score(exam_term_subject_params)[:letter_grade] %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>