<div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-auto text-center">
  <% if @user.student?%>
    <h2 class="text-green-500">
      <%= @user.full_name %>'s enrollment history
    </h2>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark-bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">S/N</th>
          <th scope="col" class="px-6 py-3">Session</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">Current Class</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
       <tbody>
        <% @user.grade_levels&.each_with_index do |grade_level, index| %>
          <tr class="odd:bg:white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
            <th scope="row" class="px-6 py-4"><%= index + 1 %></th>
            <th class="px-6 py-4"><%= "#{grade_level.school_year.title}"%></th>
            <th class="px-6 py-4"> <%= @user.disabled.! ? "Current Student" : "Not Enrolled" %> </th>
            <th class="px-6 py-4"> <%= grade_level.title %> </th>
            <th class="px-6 py-4">
              <% if current_user.admin? %>
                <%= button_to "Unenroll #{@user.full_name}", unenroll_user_path(user_id: @user.id, school_year_id: grade_level.school_year.id), data: { turbo_confirm: "Are you sure?" } %>
              <% else %>
                <span class="text-sm">
                  Enrolled
                </span>
              <% end %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr class="my-5">
    <% if current_user.admin? %>
      <div>
        <h3>
          Complete the form below to enroll this user for the current session.
        </h3>
        <%= form_with url: enroll_user_path(user_id: @user.id) do |form| %>
          <div class="form-group text-center mb-6">
            <div class="field">
              <%= form.label :current_class, class: "form-label inline-block mb-2 text-gray-700"  %>
            <%= form.select :current_class, GradeLevel::GRADE_TITLES, {}, class: "mb-2 form-control inline-block w-[30%] px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
            </div>
            <div class="actions">
              <%= form.submit "Register", class: "mb-8 px-3 py-2 bg-green-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out" %>
            </div> 
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h2 class="text-green-500">
      This is not a student account and so there is no enrollment history
    </h2>
  <% end %>
</div>